#liveChatBaloon {
  width: 60px;
  height: 60px;

  box-shadow: 1px 5px 10px rgba(109, 109, 109, 0.5);
}

#icon-chat {
  width: 40px;
  margin-top: 6px;
  margin-left: 18px;
}


#liveChatBaloon a {
/* background-image: url(../images/lilman.png);
background-size: 30px; */

transition: transform 1s ease-in-out;
}

#liveChatBaloon {
  transition: transform 1s ease-in-out;
}

#liveChatBaloon:hover {
  /* transform: scale(1.2);
  transition: transform 1s ease-in-out; */
}

#liveChatBaloon a #why {
  transform: scale(0);
  transform-origin: center;
  transition: transform 300ms ease 200ms;
}

#liveChatBaloon:hover a #why {
  transform: scale(1);
  /* background-image: url(../images/lilman.png), url(../images/bubble.png);
  background-size: 25px , 20px;
  background-position: 15px 22px, 33px 12px; */

  /* transform: scale(1.2);
  transition: transform 1s ease-in-out; */
}

#liveChatBaloon a #icon-chat {
  transition: margin 200ms ease-out;
}

#liveChatBaloon:hover a #icon-chat {
  margin-top: 8px;
  margin-left: 10px;

  transition: margin 200ms ease-in;
}