#liveChatBaloon {
  box-shadow: 1px 5px 10px rgba(109, 109, 109, 0.5);
}


#liveChatBaloon a {
background-image: url(../images/customer-care.png);
background-size: 37px;

transition: transform 1s ease-in-out;
}

#liveChatBaloon {
  transition: transform 1s ease-in-out;
}

#liveChatBaloon:hover {
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}

#liveChatBaloon:hover a {
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}