#icons {
  height: 100vh;

  color: #326FA8;
  font-size: .8em;
}


.iconsWrapper {
  margin: 0 auto;
  align-self: center;

  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-between;

  position: relative;
}

.wrap {
  margin: 5px 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 

  text-align: center;
  line-height: 1em;
}

.circle {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #326FA8;
  border-radius: 50%
}

.info {
  max-width: 440px;
  padding: 5px 10px;

  position: absolute;
  left: 10px;
  top: 100px;

  font-size: 1em;
  background-color: #F8F8F8;
  box-shadow: 2px 2px 5px #d1d1d1;

  display: none;
}

h6 {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 1.2em;
}

.little {
  margin-top: 5px;
  font-size: .9em;
  font-style: italic;
}

.wrapperShipping:hover .infoShipping{
  display: block;
}

.wrapperReturns:hover .infoReturns{
  display: block;
}

.wrapperPay:hover .infoPay{
  display: block;
}

.wrapperHappy:hover .infoHappy{
  display: block;
}

.wrap:hover .circle {
  width: 70px;
  height: 70px;
}

.wrap:hover img {
  width: 60px;
}

