.box-container {
  display: flex;
  justify-content: center;
}

.lens-box.lens-blue-box {
  background: #326FA8!important;
}
.lens-box.lens-orange-box {
  background: #CF006E!important;
}

.lens-box.lens-blue-box a svg {
  margin: 0 190px;
}

.lens-box span {
  text-align: center;
  padding: 125px 0px 0px 0px;
}

.lens-box.lens-orange-box a svg {
  margin: 0 190px;
}

.link-store {
  background-color: #FFFFFF;
  color: #326FA8;
  padding: 10px 20px 10px 20px;
  width: 400px;
  border-radius: 5px;
  margin-left: 20px;
}

.link-exam {
  background-color: #FFFFFF;
  color: #CF006E;
  padding: 10px 20px 10px 20px;
  width: 400px;
  border-radius: 5px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .box-container {
    flex-direction: column;
    align-items: center;
  }

  .lens-box.lens-orange-box {
    margin-left: 0;
    margin-top: 50px;
  }

  .health-errors-link {
    margin-left: 250px;
  }
}

@media (max-width: 414px) {
  .lens-box {
    width: 80%;
  }

  .link-store, .link-exam {
    width: 70%;
    margin-left: 100px;
  }

  .lens-box.lens-blue-box a svg, .lens-box.lens-orange-box a svg {
    margin-left: 350px;
  }
}