li.top-level.discount {
  background-color: rgb(50, 111, 168);
  border-radius: 2px;
  padding-bottom: 1px;
  padding-right: 5px;
  padding-top: 5px;
  padding-left: 5px;
  float: right;
  list-style: none;
}

ul#left-nav-header li.top-level > a.menu-discount-level {
  margin-right: 20px;
  padding: 0px 0px 0px 10px;

  color: white !important;
}

ul#left-nav-header li.top-level > a.menu-discount-level:hover {
  color: rgb(50, 111, 168) !important;
}

ul#left-nav-header li.discount:hover {
  background-color: white;
  border: 1px solid rgb(50, 111, 168);
}

ul#left-nav-header li.discount:hover a.menu-discount-level {
  color: rgb(50, 111, 168) !important;
}

ul#left-nav-header li.discount:hover #discountIcon {
  fill: rgb(50, 111, 168);
}

ul#left-nav-header li.top-level {
  padding-bottom: 1px;
  padding-right: 5px;
  padding-top: 5px;
}

ul#left-nav-header li.top-level a {
  font-size: 13px;
}

.coupon-img {
  float: right;
  width: 40px;
  margin-left: -15px;
  margin-top: -5px;
}

.header-search .header-search-icon:before {
  content: url(../images/search_blue.png);
  transform: scale(.65);
  filter: grayscale(100%);
  display: block;
}

.header-search .header-search-icon:before {
  content: url(../images/search_blue.png);
  transform: scale(.65);
  filter: grayscale(100%);
  display: block;
}

#header_links {
  width: 100%;
}

ul#right-nav-header {
  width: 125px !important;
}