/* #footer_wrapper {
  position: relative;
  width: 100%;
  padding: 0px 0 0px 0; */
  /* border-top: 1px solid #CAC9C6; */
  /* clear: both;
  display: inline-block;
  margin-top: 40px;
} */

.footer-mailing-box {
  background-color: #F1EEED;;
  height: 400px;
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; */
}

/* .footer-mailing-box div:first-child {
  margin-right: 40.5px;
} */

/* div {
  display: block;
} */

.footer-mailing-box .mail {
  background-image: url(../images/mail-icon.png);
  background-size: 97%;
  background-repeat: no-repeat;
  position: absolute;
  width: 41.9px;
  height: 33px;
  margin: -3px 0 0 -47px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a, fieldset, form, h1, h2, h3, h4, h5, h6, p, li, ol, ul, body, html, tr, td, img {
  margin: 0;
  padding: 0;
}

body p {
  line-height: 19px;
}

.footer-mailing-box div:first-child p {
  font-family: Verdana;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #1f1f1f;
}

label {
  cursor: default;
}

.footer-mailing-box div.fe label {
  font-family: Verdana;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #1f1f1f;
  display: block;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
}

input {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px system-ui;
}

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

input[type="text"], input[type="password"], textarea {
  border: 1px solid #e1e1e1;
  color: #1f1f1f;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

#temp_signinPassword, input[type="text"].blur, #temp_logonPassword3, #temp_logonPassword2, #temp_logonPasswordVerify2, #temp_signinPassword_session {
  color: #707070;
}

#temp_signinPassword, input[type="text"].blur, #temp_logonPassword3, #temp_logonPassword2, #temp_logonPasswordVerify2, #temp_signinPassword_session {
  color: #707070;
}

.footer-mailing-box #emailSignup input.footer_email_signup {
  width: 209px;
  height: 30px!important;
  border-radius: 2px;
  background-color: #ffffff;
  font-family: Verdana;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #707070;
  padding-left: 10px!Important;
  box-sizing: border-box;
}

button {
  -webkit-appearance: button;
}

button {
  -webkit-writing-mode: horizontal-tb !important;
}

button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px system-ui;
}

button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  background-color: buttonface;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

button, .button, input[type="submit"] {
  cursor: pointer;
  font-family: 'FuturaBQBold', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

button.go {
  font-size: 12px;
  font-weight: bold;
  /* border: none; */
}

.blue.button {
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  width: auto;
  display: inline-block;
  color: #FFF;
  line-height: 32px !important;
  padding: 0;
  border: none;
}

button.go.email {
  /* background: url(../images/sprites/lc_site_sprite_topleft.png) no-repeat -489px -272px; */
  position: relative;
  top: 0;
  right: -7px;
  width: 85px;
  height: 28px;
  color: #FFF;
  background-color: #326fa8;
  border-radius: 3px;
  font-family: FuturaBQBold;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.blue.button.go.email {
  line-height: 27px !important;
  padding: 0;
}

.emailOffer {
  max-height: 110px;
}

.footer-mailing-box div:first-child {
  margin-right: 40.5px;
}

form {
  display: block;
  margin-top: 0em;
}

#emailSignup {
  width: 325px;
}

.control {
  font-size: 18px;
  position: relative;
  display: block;
  cursor: pointer;
  margin-top: 20px;
  font-family: FuturaBQBook;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #5a5a5a;
  left: 27px;
  height: 20px;
  margin-bottom: 10px;
}

.footer-mailing-box div.fe label {
  display: block;
}

.footer-mailing-box #emailSignup label.certify {
  font-family: FuturaBQBook;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #1f1f1f;
  position: relative;
  top: -4px;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
}

input {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px system-ui;
}

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  margin: 3px 0.5ex;
  padding: initial;
  border: initial;
}

input[type="checkbox" i] {
  -webkit-appearance: checkbox;
  box-sizing: border-box;
}

input {
  font-size: 15px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.footer-mailing-box input[type="checkbox"] {
  width: 13px;
  height: 14px;
  border-radius: 2px;
  background-color: #ffffff;
  top: 12px;
  margin-top: 7px;
  border: 1px solid;
}

.footer-mailing-box input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #ffffff!important;
  border: 1px solid;
  position: absolute;
  clip: rect(0,0,0,0);
  display: block;
  left: -32px;
  top: 0;
  margin-top: 0;
  opacity: 1;
}

.footer-mailing-box div:nth-child(2) {
  margin-left: 40.5px;
  /* align-self: flex-end; */
}

.control__indicator {
  position: relative;
  top: -17px;
  left: -28px;
  width: 14px;
  height: 14px;
  border: 1px solid #999999;
  border-radius: 3px;
  opacity: 1;
  margin-left: 0!important;
}

span.required, label.error, #PasswordUpdateFailureResponseMessageDiv {
  font-size: 12px;
  color: #CC0000;
  float: left;
  margin: 3px 0 5px 2px;
  font-style: italic;
  clear: both;
  font-weight: normal;
}

#emailSignup span.required, label.error, #PasswordUpdateFailureResponseMessageDiv {
  float: none;
  position: relative;
  z-index: 99999;
  font-family: 'FuturaBQBookOblique';
  font-size: 11px;
}

.footer-mailing-box .successMessageEmail {
  font-family: FuturaBQBook;
  position: relative;
  bottom: 47px;
}

.men-newsletter-img {
  width: 500px;
  margin-left: -100px;
}

.footer-mailing-box div:first-child {
  margin-left: 100px;
  margin-bottom: 100px;
  text-align: center;
}

#emailSignup {
  float: right;
  margin-right: 100px;
  margin-bottom: 0px;
}

.blue.button.go.email {
  float: left;
  margin-bottom: -150px;
  padding: 20px 50px 20px 50px;
  width: 400px;
}

.footer-mailing-box #emailSignup label.certify {
  float: left;
  margin-top: 100px;
}

.footer-mailing-box {
  width: 100%;
}

.footer-mailing-box .mail {
  margin: -45px 0px 0px 40px;
}

.mail-insert {
  margin-left: 100px;
}

.footer-mailing-box div.fe label {
  margin-bottom: 10px;
}

.blue.button.go.email {
  line-height: 4px !important;
  margin-top: 20px;
}

.footer-mailing-box #emailSignup input.footer_email_signup {
  width: 400px;
  margin-left: 7px;
}

.footer-mailing-box div.fe label {
  margin-left: 10px;
}

.footer-mailing-box div:first-child p {
  font-size: 18px;
  line-height: 30px;
  margin-right: -120px;
}

.footer-mailing-box div:first-child {
  margin-bottom: 70px;
}

#emailSignup {
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .footer-mailing-box div:nth-child(2) {
    margin-left: -50px;
  }
}

@media (max-width: 768px) {
  .footer-mailing-box {
    height: 300px;
  }

  .men-newsletter-img {
    width: 400px;
  }

  #emailSignup {
    margin-right: 80px;
  }

  .footer-mailing-box div:first-child {
    margin-bottom: 0;
  }

  .footer-mailing-box div:first-child p {
    font-size: 14px;
    line-height: 25px;
    margin-right: 0;
  }

  .footer-mailing-box .mail {
    margin-bottom: 50px;
    margin-left: -10px;
  }

  .footer-mailing-box div.fe label {
    margin-bottom: 0;
  }

  .footer-mailing-box #emailSignup input.footer_email_signup {
    width: 300px;
    margin-left: 7px;
  }

  .blue.button.go.email {
    width: 300px;
    margin-top: 40px;
  }
}

@media (max-width: 414px) {
  .men-newsletter-img {
    display: none;
  }

  .footer-mailing-box #emailSignup input.footer_email_signup {
    width: 390px;
    margin-left: 7px;
  }

  .blue.button.go.email {
    width: 390px;
    margin-top: 10px;
  }

  .fe {
    margin-top: -20px;
  }

  .footer-mailing-box div:first-child {
    margin-bottom: 35px;
  }
}

@media (max-width: 375px) {
  .blue.button.go.email {
    width: 300px;
    margin-left: 60px;
  }

  .footer-mailing-box #emailSignup input.footer_email_signup {
    width: 300px;
    margin-left: 67px;
  }

  .footer-mailing-box div.fe label {
    margin-left: 67px;
  }

  .footer-mailing-box div:first-child p {
    line-height: 18px;
  }

  .footer-mailing-box div:first-child {
    margin-bottom: 40px;
  }
}

@media (max-width: 320px) {
  .footer-mailing-box div:first-child p {
    line-height: 17px;
    font-size: 13px;
  }

  .footer-mailing-box div:first-child {
    margin-bottom: 45px;
  }

  .blue.button.go.email {
    width: 290px;
    margin-left: 90px;
  }

  .footer-mailing-box #emailSignup input.footer_email_signup {
    width: 290px;
    margin-left: 97px;
  }

  .footer-mailing-box div.fe label {
    margin-left: 97px;
  }
}